.sidebar {
    left: 0;
    height: 100%;
    width: 25vw;
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    border-right: 2px solid;
    border-color: light-dark(#242424, #ffffff);
    overflow-y:auto;
    overflow-x: hidden;
}

.add-colour-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height:45px;
    padding: 10px;
    border: 1px solid;
    border-color: light-dark(#242424, #ffffff);
    border-radius: 10px;
    margin: 0.75rem;
}
.add-colour-button:hover {
    background-color: light-dark(#ededed, #313131);
}

.add-colour-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height:75px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    border-color: light-dark(#242424, #ffffff);
}