.header {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.rainbow-box-header {
  position: relative;
  margin: 0.5rem;
  width: 5%;
  height: 5%;
}

.rainbow-box-header:hover {
  margin: 0.5rem;
  position: relative;
  width: 5%;
  height: 5%;
  filter: drop-shadow(0 0 30px red);
  animation: rainbowDropShadow 10s infinite linear;
  
}

@keyframes rainbowDropShadow {
  0%  { filter: drop-shadow(0 0 30px red); }
  10% { filter: drop-shadow(0 0 30px orange); }
  20% { filter: drop-shadow(0 0 30px yellow); }
  30% { filter: drop-shadow(0 0 30px #39ff14); }
  40% { filter: drop-shadow(0 0 30px green); }
  50% { filter: drop-shadow(0 0 30px #04d9ff); }
  60% { filter: drop-shadow(0 0 30px blue); }
  70% { filter: drop-shadow(0 0 30px indigo); }
  80% { filter: drop-shadow(0 0 30px #8b008b)}
  80% { filter: drop-shadow(0 0 30px violet); }
  90% { filter: drop-shadow(0 0 30px #fb0094); }

}