.sidebar-wrapper {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin: 1rem;
}
.sidebar {
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*
    border: 2px solid;
    border-right: 8px solid;
    border-bottom: 8px solid;
    */
    overflow-y:auto;
    overflow-x: hidden;
    font-family: "Jersey";
    color: var(--color-secondary);
}
/* Opening: border first, then width grows */
.sidebar.open {
  transition: border-width 0.2s ease, width 0.5s ease 0.2s;
}

/* Closing: width shrinks first, then border disappears */
.sidebar.closed {
  transition: width 0.5s ease, border-width 0.2s ease 0.5s;
}
.sidebar p {
    font-size: 1.75rem;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar label {
    white-space: nowrap;
    overflow: hidden;
}
.ParamToggleButton {
    border: 2px solid var(--color-secondary);
    border-bottom: 4px solid var(--color-secondary);
    border-right: 4px solid var(--color-secondary);
}
.ColourToggleButton {
    border: 2px solid var(--color-secondary);
    border-bottom: 4px solid var(--color-secondary);
    border-right: 4px solid var(--color-secondary);
} svg {
    color: var(--color-secondary)
}
.ColourToggleButton:hover {
    background-color: var(--color-hover);
}
.add-colour-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height:45px;
    padding: 10px;
    border: 2px solid var(--color-secondary);
    margin: 0.75rem;
}


.add-colour-button:hover {
    background-color: var(--color-hover);
}

.add-colour-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height:100px;
    padding: 10px;
    border: 2px solid var(--color-secondary);
}