@import "tailwindcss";
@font-face {
  font-family: "Jersey", sans-serif;
  src: url("public/Jersey10-Regular.ttf");
}
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #FCFBFF;
  --color-secondary: #121212;
  --color-mid: #858585;
  --color-accent-plum: #5c1848;
}

.dark {
  --color-background: #121212;
  --color-secondary: #FCFBFF;
  --color-mid: #858585;
  --color-accent-plum: #5c1848;
}

:root {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;

  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: bold;
}

.pixel-font {
  font-family: "Jersey";
}

.secondary-col {
  color: var(--color-secondary)
}